@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:slnt,wght,ELSH@-8,100..900,100&display=swap');
body{
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: auto;
    width: auto;
    margin: 0px;
    padding: 0px;
    font-family: 'Bitcount Grid Double', cursive;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.pfp{
    width: 150px;
    height: 150px;
    margin: 0 auto 20px;
    border-radius: 50%;
    overflow: hidden;
    border: 4px solid #3DAD53;
}

.pfp img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cv{
    background-color: rgba(255, 255, 255, 0.9);
    backdrop-filter: blur(5px);
    width: 80%;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 1);
    transform-origin: top center;
    transition: 0.5s;
    border-radius: 8px;
}

.cv:hover{
    transform: scale(1.05);
    transition: 0.5s;
}

.cv header{
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 2px solid #3DAD53;
}

.cv main{
    padding: 20px;
}

#sobre-mi, #experiencia, #educacion, #habilidades, #contacto, #detalles{
    margin-bottom: 20px;
    padding: 10px;
    background: linear-gradient(-45deg, #23a6d5, #e73c7e);
    animation: infinite;
    border-radius: 8px;
}

summary{
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.btn-submit {
    display: inline-block;
    padding: 10px 20px;
    background-color: #3DAD53;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.btn-submit:hover {
    background-color: white;
    color: #3DAD53;
    transition: 0.5s;
}

h2{
    color: white;
    margin-bottom: 10px;
}

footer{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    color: black;
}

.github-link a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.5s;
}

.github-link a:hover {
    background-color: white;
    color: #333;
    transition: 0.5s;
}